
img {

    width: 3px;
}

h1 {
    text-align: center;
    padding-top: 120px;
    font-family: times;
    color: white;
    font-size: 150px;
    opacity: 1;
}

body {   
    text-align: center;
    background-image: url("images/galaxy.jpg");
    background-size: cover
}

p {
    text-align: left;
    font-size: large;
    font-family: cursive;
    color: white;
    font-style: italic;
}