
img {

    width: 300px;
}

h1 {
    text-align: center;
    font-family: Times;
    color: orange;
}

body {   
    text-align: center;
    background-image: url("http://www.wallpaperbetter.com/wallpaper/1018/935/824/stars-blue-sky-night-trees-sky-fantasy-1080P-wallpaper.jpg");
}

p {
    text-align: left;
    font-size: large;
    font-family: cursive;
    color: white;
    font-style: italic;
}